registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/mirrors/node
sass_binary_site=https://npmmirror.com/mirrors/node-sass
electron_mirror=https://registry.npmmirror.com/-/binary/electron/
PUPPETEER_DOWNLOAD_HOST=https://npmmirror.com/mirrors
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
